---
import { Auth } from "@lib/agent";

const token = Astro.url.searchParams.get("token")!;

// either 200 or 401
const data = await Auth.login.confirm(token);
// console.log({ data });
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Login | Confirmation</title>
    </head>
    <body>
        <h1>Astro</h1>
        {
            "error" in data ? (
                <>
                    <p>Not authorized</p>
                    <p>
                        There doesn't seem to be a profile with the
                        corresponding email
                    </p>
                    <p>
                        Please visit this <a href="/signup">link</a> to create a
                        new profile
                    </p>
                </>
            ) : (
                <>
                    <p>Authorized for {data.username}</p>
                    <p>
                        Once this feature has been implemented, you be
                        redirected to the dashboard
                    </p>
                </>
            )
        }
    </body>
</html>
