---
import { Auth } from "../../lib/agent";

const token = Astro.url.searchParams.get("token");

const data = await Auth.signupVerify(token);
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Signup | Confirmation</title>
    </head>
    <body>
        <h1>Astro</h1>
        {
            "email" in data ? (
                <>
                    <p>Authorized, complete signup</p>
                    <form id="profile" data-token={token}>
                        <label for="email">
                            <span>Email</span>
                            <input
                                type="email"
                                name="email"
                                id="email"
                                value={data.email}
                                readonly
                            />
                        </label>
                        <label for="username">
                            <span>Username</span>
                            <input
                                type="text"
                                name="username"
                                id="username"
                                required
                            />
                        </label>
                        <label for="bio">
                            <span>Bio</span>
                            <textarea name="bio" id="bio" />
                        </label>
                        <button type="submit">Sign up</button>
                    </form>
                </>
            ) : (
                <>
                    <p>Not authorized</p>
                    <p>An error occured, please try again or contact support</p>
                </>
            )
        }
    </body>
</html>

<script>
    import { User } from "../../lib/agent";

    const form = document.querySelector<HTMLFormElement>("#profile");

    form?.addEventListener("submit", async (event) => {
        event.preventDefault();

        const token = form.dataset.token!; //note should validate that the form email is the same as this token, on the backend
        const email = new FormData(form).get("email") as string; // NOTE may be vuneral still
        const username = new FormData(form).get("username") as string;
        const bio = new FormData(form).get("bio") as string;

        const data = await User.create(token, email, username, bio); //NOTE replace with this line
        if ("error" in data) {
            alert("error occured on the server");
            return;
        }

        alert(
            `Welcome ${data.username} you will be redirected to the Dashboard`
        );

        // TODO redirect to the dashboard
        //
        // window.location.href = "/dashboard";
    });
</script>
