---
import PingTester from "src/components/PingTester.astro";
// https://slack.com/intl/en-gb/get-started#/createnew
// https://slack.com/intl/en-gb/get-started#/confirmemail
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Noughts & Crosses</title>
    </head>
    <body>
        <h1>Astro with Vercel</h1>
        <div>
            <a href="/signup">Signup</a>
            <a href="/login">Login</a>
        </div>

        <PingTester />
    </body>
</html>

<script>
    import { Ping } from "@lib/agent";

    const input = document.querySelector<HTMLInputElement>("#input")!;
    const output = document.querySelector<HTMLOutputElement>("#output")!;

    input.addEventListener("input", async (e) => {
        const { value } = e.currentTarget as HTMLInputElement;
        if (!value) {
            output.textContent = `masked: The sum of "${value}": ${0}`;
            return;
        }

        const data = await Ping.hello(value);
        if ("error" in data) return;

        output.textContent = `masked: The sum of "${value}": ${data.sum}`;
    });
</script>
