<script>
    import { isSendError, Ping } from "@lib/agent";

    class PingTester extends HTMLElement {
        constructor() {
            super();

            const input = this.querySelector("input")!;
            const output = this.querySelector("output")!;

            input?.addEventListener("input", async () => {
                const result = await Ping.hello(input.value);

                if (isSendError(result)) {
                    output.textContent = "Value: 0";
                } else {
                    output.textContent = `Value: ${result.sum.toPrecision(3)}`;
                }
            });
        }
    }

    customElements.define("ping-tester", PingTester);
</script>

<ping-tester>
    <label>Ping Tester</label>
    <input type="text" />
    <output></output>
</ping-tester>
